.body {
  height: var(--size);
  width: var(--size);
  text-align: center;
}

.body:hover {
  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.5);
}

.symbol {
  line-height: var(--size);
  color:white;
  pointer-events: none;
  font-weight: 100;
}

.color1 {
  background-color: var(--color-1);
}

.color2 {
  background-color: var(--color-2);
}

.color3 {
  background-color: var(--color-3);
}
