@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
  --color-1: #3EC1D3;
  --color-2: #FF5252;
  --color-3: #373737;

  --size: 60px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
